<html>
  <head>    
  <%- include('partials/_header'); -%>
	<!-- * LINKS * -->	
	<link rel="stylesheet" href="https://purple-silver-helicona.glitch.me/style.css">
	<link rel="icon" href="images/cedar.png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300" rel="stylesheet" type="text/css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


	<!-- * JAVA SCRIPT * -->	
	<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


</head>
<body>


	<!-- * PRELOADER * -->

  	<div class="loader-wrapper">
      	<span class="loader"><span class="loader-inner"></span></span>
  	</div>  

	<!-- * HEADER + NAV * -->
	
	<section class="banner" id="home">
    <div class="overlay"></div>		
		<div class="content" data-aos="fade-right" data-aos-duration="1000">
			<h2>
				Merhaba,<br>
				<span>Hoş Geldin!</span>
			</h2>

			<p>
				Discord Kod Paylaşım Sitesi! Bu siteden kolayca kodlara ulaşabilirsiniz. Siteye giriş yapıp özel kodlarımıza ulaşabilirsiniz! Bot Club, Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi.
			</p>
			<a href="https://discord.com/invite/peynir" style="text-decoration:none;background-color:#5865F2" target="_blank"><i class="fab fa-discord" style="margin-right: 10px; font-size: 20px;"></i>Sunucumuza Katıl!</a>

		</div>	

	</section>

	<div id="navigation">
		<ul>
			<li><a href="#" class="colored">Ana Sayfa</a></li>
			<li><a href="#about">Hakkımızda</a></li>
			<!-- <li><a href="members.html">Ekibimiz</a></li> -->
			<li><a href="#">Discord</a></li>
      <li><a>selam</a></li>
		</ul>
	</div>
	
	<!-- * ABOUT US * -->

	<section class="services p-t-30" id="about">
		<h1><span>Bot Club</span> hakkında</h1>
		<div class="container">
			<div class="service">
				<i class="fas fa-hands-helping"></i>
				<h2>YARDIMLAŞMA</h2>
				<p>
					Discord botunuzda oluşan hatalarda veya yapamadığınız kodlarda sunucumuzda bulunan yardım kanallarından destek alabilirsiniz. Tamamen ücretsiz bir şekilde destek veriyoruz! Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi
				</p>
			</div>

			<div class="service">
				<i class="fas fa-hand-sparkles"></i>
				<h2>YETKİLİLER</h2>
				<p>
					Yetkililerimiz en iyi şekilde sizlere destek çıkmaya çalışmaktadır. Ekibimiz sizlere daha iyi bir hizmet vermek için çabalamaktadır. Daha iyi hizmet vermek için çalışıyoruz. Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi
				</p>
			</div>
			<div class="service">
				<i class="fas fa-hammer"></i>
				<h2>ÜCRETSİZ KODLAR</h2>
				<p>
					Hiçbir maddi destek istemeden sizlere ücretsiz bir şekilde kodları sunuyoruz. Sadece arkadaşlarınızı Sunucuya davet ederek ya da sunucuda aktif kalarak daha özel kodlara sahip olabilirsiniz. Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi
				</p>
			</div>
			<div class="service" style="width: 80% !important; margin-top: 50px;">
				<i class="fas fa-star"></i>

				<p>
					Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi Olan Bot Club 11.04.2021 tarihinde 10 ortak ile kuruldu, Sunucumuz 2 hafta içinde 2000'den fazla üyeye sahip ve her geçen gün artmaktadır. İleriki zamanlarda Bot List, Server List gibi planlarımızda var. Sizde şuan discord sunucumuza katılıp ücretsiz bir şekilde botunuzu geliştirebilirsiniz.
				</p>
			</div>
		</div>
	</section>


	<!-- * DISCORD * -->

	<div class="discord">
		<div class="overlay"></div>
		<div class="text">
			<h1>Sunucumuza hala<br>göz atmadın mı?</h1>
			<a href="https://discord.com/invite/dbc" style="text-decoration:none;"target="_blank">Hemen Katıl!</a>
		</div>
		<div class="discordImg">
			<img src="https://discord.com/assets/2d20a45d79110dc5bf947137e9d99b66.svg">
<!-- 			<iframe src="https://canary.discordapp.com/widget?id=627235926929571840&theme=dark" width="350" height="250" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe> -->
		</div>
	</div>


	<!-- * FOOTER * -->

    <div class="footer">
    	<h2>Bot Club</h2>
    	<div class="footerLinks">
    		<a href="#" class="colored">Ana Sayfa</a>
    		<a href="#about">Hakkımızda</a>
    		<!-- <a href="members.html">Ekibimiz</a> -->
    		<a href="https://discord.com/invite/dbc" target="_blank">Discord</a>
    	</div>
    	<p class="copyright">
    		&copy; Tüm Hakları Saklıdır. <span>© Bot Club</span>
    	</p>
    </div>

    	<p class="credits">
    		<i class="fa fa-code"></i>
    		by
    		<span>utku#1000</span>
        &
        <span>Gweep Creative#0300</span>
    	</p>

	<!-- * SCROLL TO TOP * -->

	<button id="back-to-top-btn"><i class="fa fa-angle-up"></i></button>


	<!-- JAVASCRIPT -->

	<script>
	// TOGGLE EFFECT
		function toggle() {
			var home = document.getElementById('home');
			var nav = document.getElementById('navigation');
			home.classList.toggle('active');
			nav.classList.toggle('active');
		}
	</script>
  	<script>
  	// PRELOADER EFFECT
    	$(window).on("load",function(){
     	$(".loader-wrapper").fadeOut("slow");
    	});
  	</script>
  	<script>
  		// ANIMATE ON SCROLL
  		AOS.init();
	</script>
	<script src="https://purple-silver-helicona.glitch.me/Javascript/main.js"></script>	
</body>
</html>